.App, .artistPage {
  text-align: center;
  background: url(https://github.com/Stephen-Passow/Canvas-Art/blob/master/client/images/sketching-background.jpg?raw=true) no-repeat;
  background-color: rgba(255,255,255,0.75);
  background-blend-mode: lighten;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 55px;
}

.contactForm {
  font-size: 20px;

}
.images {
  height: 400px;
  width: 500px;
}