.App {
  text-align: center;
  background: url(https://github.com/Stephen-Passow/Canvas-Art/blob/master/client/images/sketching-background.jpg?raw=true) no-repeat;
  background-size: cover;
  height: 900px;
  background-color: rgba(255,255,255,0.75);
  background-blend-mode: lighten;
  margin: 0;
}
.artistPage {
  text-align: center;
}
h1 {
  margin: 0;
}
.contactForm {
  font-size: 20px;
}